<a href="https://colab.research.google.com/github/SujitbMusale/Loan-Predctions---Logistic-Regression/blob/main/Loan_Prediction_Classification_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/almabetter/csv files/LoanStats Dataset.csv',encoding ='latin1')

In [ ]:
df.head()

,Loan ID,Amount Requested,Amount Funded By Investors,Interest Rate,Loan Length,Application Date,Application Expiration Date,Issued Date,CREDIT Grade,Loan Title,...,Inquiries in the Last 6 Months,Accounts Now Delinquent,Delinquent Amount,Delinquencies (Last 2 yrs),Months Since Last Delinquency,Public Records On File,Months Since Last Record,Education,Employment Length,Code
0,87023,7500.0,7500.0,13.75%,36 months,2007-06-07,2007-06-21,2007-06-27,E2,Consolidation Loan,...,0.0,0.0,0.0,1.0,11.0,0.0,0.0,NaN,< 1 year,NaN
1,90376,5000.0,5000.0,7.43%,36 months,2007-06-12,2007-06-26,2007-07-02,A2,JAL Loan,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
2,90395,5000.0,5000.0,8.07%,36 months,2007-06-12,2007-06-26,2007-07-02,A4,MBA Loan Consolidation,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,< 1 year,NaN
3,90665,8500.0,8500.0,10.28%,36 months,2007-06-13,2007-06-27,2007-07-03,C1,Retiring credit card debt,...,1.0,0.0,0.0,1.0,5.0,0.0,0.0,NaN,3 years,NaN
4,92187,2500.0,2500.0,8.07%,36 months,2007-06-15,2007-06-29,2007-07-05,A4,Home Improvement,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4 years,NaN

In [ ]:
df.shape

(36396, 41)

In [ ]:
df.iloc[1]

Loan ID                                         90376
Amount Requested                               5000.0
Amount Funded By Investors                     5000.0
Interest Rate                                   7.43%
Loan Length                                 36 months
Application Date                           2007-06-12
Application Expiration Date                2007-06-26
Issued Date                                2007-07-02
CREDIT Grade                                       A2
Loan Title                                   JAL Loan
Loan Purpose                                    other
Loan Description                                  NaN
Monthly PAYMENT                                155.38
Status                                     Fully Paid
Total Amount Funded                            5000.0
Debt-To-Income Ratio                            3.72%
Remaining Principal Funded by Investors           0.0
Payments To Date (Funded by investors)        5174.16
Remaining Principal                               0.0
 Payments To Date                             5174.16
Screen Name                                    Laguna
City                                        Rockville
State                                              MD
Home Ownership                               MORTGAGE
Monthly Income                               16666.67
FICO Range                                       780+
Earliest CREDIT Line                       1988-11-19
Open CREDIT Lines                                17.0
Total CREDIT Lines                               26.0
Revolving CREDIT Balance                      85607.0
Revolving Line Utilization                       0.7%
Inquiries in the Last 6 Months                    0.0
Accounts Now Delinquent                           0.0
Delinquent Amount                                 0.0
Delinquencies (Last 2 yrs)                        0.0
Months Since Last Delinquency                     0.0
Public Records On File                            0.0
Months Since Last Record                          0.0
Education                                         NaN
Employment Length                            < 1 year
Code                                              NaN
Name: 1, dtype: object

In [ ]:
# lets check the columns present in the dataset
# number of the columns of the dataset

print('features  are: ',df.columns)
print('\n')
print('The number of the features are: ',len(df.columns))

features  are:  Index(['Loan ID', 'Amount Requested', 'Amount Funded By Investors',
       'Interest Rate', 'Loan Length', 'Application Date',
       'Application Expiration Date', 'Issued Date', 'CREDIT Grade',
       'Loan Title', 'Loan Purpose', 'Loan Description', 'Monthly PAYMENT',
       'Status', 'Total Amount Funded', 'Debt-To-Income Ratio',
       'Remaining Principal Funded by Investors',
       'Payments To Date (Funded by investors)', 'Remaining Principal ',
       ' Payments To Date', 'Screen Name', 'City', 'State', 'Home Ownership',
       'Monthly Income', 'FICO Range', 'Earliest CREDIT Line',
       'Open CREDIT Lines', 'Total CREDIT Lines', 'Revolving CREDIT Balance',
       'Revolving Line Utilization', 'Inquiries in the Last 6 Months',
       'Accounts Now Delinquent', 'Delinquent Amount',
       'Delinquencies (Last 2 yrs)', 'Months Since Last Delinquency',
       'Public Records On File', 'Months Since Last Record', 'Education',
       'Employment Length', 'Code'],
      dtype='object')


The number of the features are:  41

so total 41 features are present in the dataset

In [ ]:
# lets check the null values present in the data set
print(df.isnull().sum())

Loan ID                                        0
Amount Requested                               1
Amount Funded By Investors                     1
Interest Rate                                  1
Loan Length                                    1
Application Date                               1
Application Expiration Date                    1
Issued Date                                  177
CREDIT Grade                                   1
Loan Title                                    14
Loan Purpose                                   1
Loan Description                           10544
Monthly PAYMENT                                1
Status                                         1
Total Amount Funded                            1
Debt-To-Income Ratio                           1
Remaining Principal Funded by Investors        1
Payments To Date (Funded by investors)         1
Remaining Principal                            1
 Payments To Date                              1
Screen Name                                    2
City                                           1
State                                          1
Home Ownership                                 1
Monthly Income                                 1
FICO Range                                    18
Earliest CREDIT Line                          30
Open CREDIT Lines                             30
Total CREDIT Lines                            30
Revolving CREDIT Balance                      30
Revolving Line Utilization                    88
Inquiries in the Last 6 Months                30
Accounts Now Delinquent                       30
Delinquent Amount                             30
Delinquencies (Last 2 yrs)                    30
Months Since Last Delinquency              22695
Public Records On File                        30
Months Since Last Record                   32964
Education                                  30523
Employment Length                            904
Code                                       10921
dtype: int64

we can see that there are many variables are having null values

In [ ]:
# lets check the unique values present in the various independent and dependent varaible
# lest refer the unique value list as follows
lst=[]
for i in df.columns:
  lst.append([i,len(df[i].unique())])
unique_feature_list=pd.DataFrame(lst,columns=['Feature','No of unique element'])
print(unique_feature_list.sort_values(by='No of unique element'))

                                    Feature  No of unique element
32                  Accounts Now Delinquent                     3
4                               Loan Length                     3
33                        Delinquent Amount                     4
23                           Home Ownership                     6
25                               FICO Range                     7
36                   Public Records On File                     7
39                        Employment Length                    12
34               Delinquencies (Last 2 yrs)                    13
10                             Loan Purpose                    15
13                                   Status                    19
31           Inquiries in the Last 6 Months                    29
8                              CREDIT Grade                    36
27                        Open CREDIT Lines                    45
22                                    State                    51
28                       Total CREDIT Lines                    84
35            Months Since Last Delinquency                    96
37                 Months Since Last Record                   113
3                             Interest Rate                   393
40                                     Code                   584
1                          Amount Requested                   835
14                      Total Amount Funded                  1016
7                               Issued Date                  1087
30               Revolving Line Utilization                  1108
6               Application Expiration Date                  1549
5                          Application Date                  1550
15                     Debt-To-Income Ratio                  2836
38                                Education                  3669
2                Amount Funded By Investors                  4015
24                           Monthly Income                  5103
26                     Earliest CREDIT Line                  9564
21                                     City                 10311
12                          Monthly PAYMENT                 14835
9                                Loan Title                 19465
29                 Revolving CREDIT Balance                 20613
11                         Loan Description                 25579
16  Remaining Principal Funded by Investors                 27324
18                     Remaining Principal                  27427
17   Payments To Date (Funded by investors)                 31232
19                         Payments To Date                 31533
20                              Screen Name                 36393
0                                   Loan ID                 36396

In [ ]:
#lets check the data type present in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36396 entries, 0 to 36395
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Loan ID                                  36396 non-null  object
 1   Amount Requested                         36395 non-null  float64
 2   Amount Funded By Investors               36395 non-null  float64
 3   Interest Rate                            36395 non-null  object
 4   Loan Length                              36395 non-null  object
 5   Application Date                         36395 non-null  object
 6   Application Expiration Date              36395 non-null  object
 7   Issued Date                              36219 non-null  object
 8   CREDIT Grade                             36395 non-null  object
 9   Loan Title                               36382 non-null  object
 10  Loan Purpose                             36395 non-null  object
 11  Loan Description                         25852 non-null  object
 12  Monthly PAYMENT                          36395 non-null  float64
 13  Status                                   36395 non-null  object
 14  Total Amount Funded                      36395 non-null  float64
 15  Debt-To-Income Ratio                     36395 non-null  object
 16  Remaining Principal Funded by Investors  36395 non-null  float64
 17  Payments To Date (Funded by investors)   36395 non-null  float64
 18  Remaining Principal                      36395 non-null  float64
 19   Payments To Date                        36395 non-null  float64
 20  Screen Name                              36394 non-null  object
 21  City                                     36395 non-null  object
 22  State                                    36395 non-null  object
 23  Home Ownership                           36395 non-null  object
 24  Monthly Income                           36395 non-null  float64
 25  FICO Range                               36378 non-null  object
 26  Earliest CREDIT Line                     36366 non-null  object
 27  Open CREDIT Lines                        36366 non-null  float64
 28  Total CREDIT Lines                       36366 non-null  float64
 29  Revolving CREDIT Balance                 36366 non-null  float64
 30  Revolving Line Utilization               36308 non-null  object
 31  Inquiries in the Last 6 Months           36366 non-null  float64
 32  Accounts Now Delinquent                  36366 non-null  float64
 33  Delinquent Amount                        36366 non-null  float64
 34  Delinquencies (Last 2 yrs)               36366 non-null  float64
 35  Months Since Last Delinquency            13701 non-null  float64
 36  Public Records On File                   36366 non-null  float64
 37  Months Since Last Record                 3432 non-null   float64
 38  Education                                5873 non-null   object
 39  Employment Length                        35492 non-null  object
 40  Code                                     25475 non-null  float64
dtypes: float64(20), object(21)
memory usage: 11.4+ MB

In [ ]:
# lest check the unique values in Status feature
df['Status'].unique()

array(['Fully Paid', 'Charged Off', 'Late (31-120 days)',
       'Performing Payment Plan', 'Default', 'In Grace Period', 'Current',
       'Late (16-30 days)', 'Issued', 'In Review', nan,
       'Does not meet the current credit policy  Status: Fully Paid',
       'Does not meet the current credit policy  Status: Performing Payment Plan',
       'Does not meet the current credit policy  Status: Charged Off',
       'Does not meet the current credit policy  Status: Late (31-120 days)',
       'Does not meet the current credit policy  Status: In Grace Period',
       'Does not meet the current credit policy  Status: Late (16-30 days)',
       'Does not meet the current credit policy  Status: Current',
       'Does not meet the current credit policy  Status: Default'],
      dtype=object)

In [ ]:
#remove all other records except the  'Fully paid', 'Charged off', 'Late (31-120 days), 'Default', 'In Grace Period' and  'Current' records
data_with_loanstatus_sliced = df[(df['Status']=="Fully Paid") | (df['Status']=="Charged Off") |
                                   (df['Status']=='Does not meet the current credit policy  Status: Fully Paid') | (df['Status']=='Does not meet the current credit policy  Status: Charged Off') | (df['Status']=="Late (31-120 days)") | 
                                   (df['Status']=="Default") | (df['Status']=="In Grace Period") | (df['Status']=="Current")| (df['Status']=="Issued")| (df['Status']=="Does not meet the current credit policy  Status: Current")|
                                   (df['Status']=="Does not meet the current credit policy  Status: Late (31-120 days)")| (df['Status']=="Does not meet the current credit policy  Status: In Grace Period")|(df['Status']=="Does not meet the current credit policy  Status: Default")]

In [ ]:
# lets change class value with the integer 
val =  {"Fully Paid":0, "Charged Off":5, 'Does not meet the current credit policy  Status: Fully Paid':0, 
        'Does not meet the current credit policy  Status: Charged Off':5, 'Late (31-120 days)':2, 'Default': 4, 
        'In Grace Period':3, 'Current':1,'Issued':6, 'Does not meet the current credit policy  Status: Current':1, 
        'Does not meet the current credit policy  Status: Late (31-120 days)':2,
        'Does not meet the current credit policy  Status: In Grace Period':3,
        'Does not meet the current credit policy  Status: Default':4} 
df=data_with_loanstatus_sliced.replace({"Status":val})

In [ ]:
# convert the "Earliest CREDIT Line" attribute to  Python Date time object.
df["Earliest CREDIT Line"]=pd.to_datetime(df['Earliest CREDIT Line'])

In [ ]:
# treat the null value present in the "Earliest CREDIT Line".
dd=int(df['Earliest CREDIT Line'].dt.day.median())
mm=int(df['Earliest CREDIT Line'].dt.month.median())
yy=int(df['Earliest CREDIT Line'].dt.year.median())

In [ ]:
d=dt.datetime(yy,mm,dd)
date =d.date()

In [ ]:
# replacing null value in 'Earliest CREDIT Line' with median date
df['Earliest CREDIT Line']=df['Earliest CREDIT Line'].fillna(date)

In [ ]:
# check the null value in the 'Earliest CREDIT Line' 
df['Earliest CREDIT Line'].isnull().any()

False

In [ ]:
# convert 'Application Date' to date-time attribute
df['Application Date']=pd.to_datetime(df['Application Date'])
dd=int(df['Application Date'].dt.day.median())
mm=int(df['Application Date'].dt.month.median())
yy=int(df['Application Date'].dt.year.median())
d = dt.datetime(yy,mm,dd)
date = d.date()
df['Application Date'] = df['Application Date'].fillna(date)

In [ ]:
# convert 'Application Expiration Date' to date-time attribute

df['Application Expiration Date'] = pd.to_datetime(df['Application Expiration Date'])
dd=int(df['Application Expiration Date'].dt.day.median())
mm=int(df['Application Expiration Date'].dt.month.median())
yy=int(df['Application Expiration Date'].dt.year.median())
d = dt.datetime(yy,mm,dd)
date = d.date()
df['Application Expiration Date'] = df['Application Expiration Date'].fillna(date)

In [ ]:
# converting 'Issue Date' to date-time attribute
df['Issued Date'] = pd.to_datetime(df['Issued Date'])
dd=int(df['Issued Date'].dt.day.median())
mm=int(df['Issued Date'].dt.month.median())
yy=int(df['Issued Date'].dt.year.median())
d = dt.datetime(yy,mm,dd)
date = d.date()
df['Issued Date'] = df['Issued Date'].fillna(date)

In [ ]:
# converting the string value to numeric value
# intrest rate
df['Interest Rate'] =df['Interest Rate'].replace({'%':''},regex=True)
df['Interest Rate']= df['Interest Rate'].apply(lambda x : float(x))

In [ ]:
# just to check
print(df['Interest Rate'][0:5])
print('\n')
print(df['Interest Rate'].dtype)

0    13.75
1     7.43
2     8.07
3    10.28
4     8.07
Name: Interest Rate, dtype: float64


float64

In [ ]:
# convert 'Debt-To-Income Ratio' to numerical datatype
df['Debt-To-Income Ratio'] = df['Debt-To-Income Ratio'].replace({'%':''}, regex = True)
df['Debt-To-Income Ratio'] = df['Debt-To-Income Ratio'].apply(lambda x:float(x))

In [ ]:
# convert 'Revolving Line Utilization' to numerical datatype
df['Revolving Line Utilization'] = df['Revolving Line Utilization'].replace({'%':''}, regex = True)
df['Revolving Line Utilization'] = df['Revolving Line Utilization'].apply(lambda x:float(x))

In [ ]:
# lets work with the attributes with redentent information and extract numerical data and transform to numeric value
df['Loan Length'] = df['Loan Length'].replace({' months':''}, regex = True)
df['Loan Length'] = df['Loan Length'].apply(lambda x:int(x))

In [ ]:
# lets work with categorical variable
# lets remove the space in 'CREDIT Grade' to 'CREDIT_Grade'
df.rename(columns = {'CREDIT Grade':'CREDIT_Grade'}, inplace = True)
df.rename(columns = {'Home Ownership':'Home_Ownership'}, inplace = True)
df.rename(columns = {'FICO Range':'FICO_Range'}, inplace = True)

In [ ]:
# let's check the unique values present in the above variable 
print('unique value in CREDIT_Grade: ')
print(df['CREDIT_Grade'].unique())
print('\n')
print('unique value in Home_Ownership: ')
print(df['Home_Ownership'].unique())
print('\n')
print('unique value in FICO_Range: ')
print(df['FICO_Range'].unique())

unique value in CREDIT_Grade:
['E2' 'A2' 'A4' 'C1' 'B1' 'C4' 'B5' 'B3' 'A5' 'A3' 'B2' 'C2' 'F4' 'C5'
 'E1' 'D3' 'B4' 'D1' 'F1' 'D4' 'C3' 'D2' 'F2' 'A1' 'E4' 'F3' 'E5' 'D5'
 'E3' 'G5' 'F5' 'G4' 'G3' 'G2' 'G1']


unique value in Home_Ownership:
['OWN' 'MORTGAGE' 'RENT' 'NONE' 'ANY']


unique value in FICO_Range:
['660-678' '780+' '714-749' '679-713' '750-779' nan '640-659']

In [ ]:
# lets replace the above test value by numerical values
# replcae the value as "640-659":6,
                        #"660-678":5,
                        #"679-713":4,
                        #"714-749":3,
                        #"750-779":2,
                        #"780+":1
df["FICO_Range"] = df["FICO_Range"].map({"640-659":6,"660-678":5,"679-713":4,"714-749":3,"750-779":2,"780+":1})

In [ ]:
# also there are some null value lets treat them
print(df['FICO_Range'].value_counts())
print('\n')
print('null value presents are: ')
print(df['FICO_Range'].isnull().sum())

4.0    12508
3.0    10250
5.0     5660
2.0     4898
1.0     2064
6.0      472
Name: FICO_Range, dtype: int64


null value presents are:
17

In [ ]:
# replace null value with 3
df['FICO_Range']=df['FICO_Range'].fillna(3)

In [ ]:
# lets study the Education Attributes
print(len(df['Education'].unique()))
print('\n')
print(df['Education'].unique()[0:10])
print('\n')
print('null value present tin the attribute')
print(df['Education'].isnull().sum())

3622


[nan 'Youngstown State University' 'University of Connecticut'
 'Rochester Institute of Technology (RIT)' 'Penn State-University Park'
 'Missouri State University'
 'Columbia University in the City of New York,Harvard University'
 'Aquinas College' 'Western Washington University'
 'Georgia Institute of Technology']


null value present tin the attribute
30085

In [ ]:
# lets replace null value with zero and all education details with 1
df['Education']=df['Education'].fillna(0)
df['Education']=df['Education'].apply(lambda x : 0 if x == 0 else 1 )

In [ ]:
df['Education'].unique()

array([0, 1])

In [ ]:
# lets work on Employment Length attribute
# first rename the attribute
df.rename(columns={'Employment Length':'Employment_Length'},inplace=True)

In [ ]:
# lets check the unique value present in the Employment_Length
print(df['Employment_Length'].unique())
print('\n')
print('null value presents are: ')
print(df['Employment_Length'].isnull().sum())

['< 1 year' '3 years' '4 years' '5 years' '1 year' '2 years' '8 years'
 '7 years' '6 years' '9 years' '10+ years' nan]


null value presents are:
875

In [ ]:
# fill null value with zero
df['Employment_Length'] = df['Employment_Length'].fillna(0)

# lets convert output text variable to numeric variable.
# '< 1 year':1, 
# '1 year':2, 
# '2 years':3, 
# '3 years':4, 
# '4 years':5, 
# '5 years':6, 
# '7 years':8, 
# '6 years':7, 
# '8 years':9, 
# '9 years':10, 
# '10+ years':11

df['Employment_Length'] = df['Employment_Length'].map({'< 1 year':1, '3 years':4, 
                                                       '4 years':5, '5 years':6, '1 year':2, 
                                                       '2 years':3, '8 years':9, '7 years':8, 
                                                       '6 years':7, '9 years':10, '10+ years':11})

In [ ]:
df['Employment_Length'][0:5]

0    1.0
1    1.0
2    1.0
3    4.0
4    5.0
Name: Employment_Length, dtype: float64

In [ ]:
# lets work with 'Loan Purpose' attribute
# rename the column name
df.rename(columns={'Loan Purpose':'Loan_Purpose'},inplace=True)

In [ ]:
# lets check the unique value present in the 'Loan_Purpose' attribute
print(len(df['Loan_Purpose'].unique()))
print('\n')
print(df['Loan_Purpose'].value_counts())

14


debt_consolidation    16270
credit_card            4376
other                  3855
home_improvement       2808
major_purchase         2113
small_business         1699
car                    1445
wedding                 886
medical                 647
moving                  557
educational             417
house                   357
vacation                343
renewable_energy         96
Name: Loan_Purpose, dtype: int64

In [ ]:
# now for the remaining fill na with mean of that attributes column
df=df.fillna(df.mean())